/* nav section responsive */
@media screen and (max-width:600px) {
    .nav-container {
        flex-direction: column;
        gap: 20px;

    }

    .nav-container .nav-right-container {
        flex-direction: column;
        row-gap: 10px;
        margin-left: 70px;
    }

    .banner {
        width: 335px;
        height: 483px;
        margin: 0px;
        overflow: scroll;
        overflow-x: hidden;
        margin-bottom: 10px;

    }
    .banner-div> p{
        margin-left: 0px;
    }


    .section2 {
        flex-direction: column;
        margin: 0px;
    }

    .section2>img {
        width: 50%;
    }

    .section3 {
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
    }

    .img-box {
        margin: 0%;
        padding: 0%;
    }

    .img {
        width: 335px;
        height: 176px;
    }

    .section-cards {
        flex-direction: column;
        margin: 0%;
        padding: 0%;
        width: 80%;
        height: 80%;
    }

    .section-heading>p {
        margin: 0%;
        padding: 10px;
        margin-bottom: 20px;
    }

    .cards {
        width: 335px;
        height: 289px;
        margin: 0%;
        padding: 10px;
        margin-bottom: 10px;
    }

    .section-card3 {
        width: 335px;
        height: 289px;
        margin: 0%;
        padding: 10px;
        left: 0%;

    }

    .section5>p {
        margin: 0%;
        padding: 10px;
    }

    .deals-container {
        width: 335px;
        height: 500px;
        margin: 0%;
    }

    .discount {
        width: 303px;
        height: 297px;
        margin: 0%;
        left: 20px;
        margin-top: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }

    .discount>h5 {
        margin-top: 20px;
    }

    .span {
        margin-top: 0%;
    }

    .discount1 {
        width: 303px;
        height: 297px;
        margin: 0%;
        left: 20px;
        margin-top: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }

    .discount1>h5 {
        margin-top: 20px;
    }

    .deals-container1 {
        width: 335px;
        height: 500px;
        margin: 0%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bangladesh {
        flex-direction: column;
        margin: 0px;
        padding: 15px%;
    }

    .bangladesh-img-box>img {
        width: 330px;
        height: 200px;
        margin-left: 0px;
        margin-right: 10px;
        padding: 0px;
        gap: 0px;
    }

    .login {
        flex-direction: column;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }

    .signup {
        width: 300px;
        margin: 0px;
        margin-left: 10px;
    }

    .form-img>img {
        width: 335px;
        margin: 0%;
        padding: 0%;

    }

    .saveup>img {
        width: 150px;
        height: 80px;
    }

    .saveup {
        position: relative;
        object-fit: cover;
        right: -50px;
        bottom: 300px;

    }
    .find-experience{
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .footer {
        margin: 0%;
        /* margin-top: 20px; */
        margin-bottom: 0px;
    }
}