@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@400;500;700;800&family=Work+Sans:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* styles header sections */
header {
    max-width: 1440px;
    margin: 40px;
    background: #fff;
}

.nav-left-container {
    display: flex;
    gap: 15px;
    min-width: 50%;
    color: #131318;
    font-weight: 700;
    font-size: 30px;
}

.nav-container {
    display: flex;
    max-width: 1200px;
}

.nav-right-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right-container a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.text {
    color: #FF5400;
}

/* styles banner section */
.banner {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-color: linear-gradient(180deg, rgba(16, 16, 28, 0.89) 0%, rgba(10, 10, 14, 0.53) 100%);
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    margin-left: 65px;
    text-align: center;
    flex-wrap: wrap;
}

.banner h1 {
    color: #FFF;
    font-size: 65px;
    font-weight: 800;
    font-family: cursive;
    margin-bottom: 25px;
}

.banner p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-left: 270px;
    margin-bottom: 30px;
}

.btn {
    margin-top: 50px;
    width: 175px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    gap: 25px;
}

.btn img {
    text-align: center;
    object-fit: cover;

}

.search {
    color: #FFF;
    width: 175px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    border-radius: 8px;
    border: none;
    background: #FF5400;
    margin-left: 5p;
}

/* section2 styles */
.section2 {
    display: flex;
    margin-top: 60px;
    margin-left: 50px;
    max-width: 1200px;
    gap: 20px;
}

.div-container-left {
    background: #FFF;
    text-align: center;
    padding: 20px 40px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div-container-left h2 {
    font-size: 40px;
    font-weight: 800;
    font-family: cursive;
    color: #131318;
}

.div-container-left>div {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.div-container-right {
    width: 50%;
}

/* section3 style */
.section3 {
    width: 1440px;
    background: #FFF;
}

.div-text {
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgba(19, 19, 24, 0.70);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.div-text h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: cursive;
    text-align: center;
}

.img-box {
    margin-left: 70px;
}

.section-container {
    max-width: 1200px;
    background-color: #fff;

}

.section-container h2 {
    font-size: 35px;
    font-weight: 700;
    font-family: cursive;
    text-align: center;
    color: #131318;
    margin-top: 50px;
    padding: 20px;
}

.section-heading p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 10px 300px;
    margin-bottom: 40px;
}

.section-cards {
    display: flex;

}

.cards {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    margin-left: 60px;
    padding: 40px;
}

#card1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#card2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.cards>h5 {
    color: #131318;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 20px;

}

.section-card3 {
    margin-top: 20px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    margin-left: 60px;
    padding: 40px;
    position: relative;
    left: 25%;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.section-card3>h5 {
    color: #131318;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 20px;

}

.section-card3>p {
    color: #5A5A5D;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.section5 h2 {
    font-size: 35px;
    font-weight: 700;
    font-family: cursive;
    text-align: center;
    color: #131318;
    margin-top: 50px;
    padding: 20px
}

.section5>p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 10px 300px;
    margin-bottom: 40px;
}

.section5 {
    background-color: #FFF;
}

.deals-container {
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    background: url(../Images/Group\ 39.png), lightgray 50% / cover no-repeat;
    margin-left: 60px;
}

.discount {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: relative;
    left: 535px;
    top: 55px;
}

.discount>h5 {
    color: #131318;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 800;
    margin-top: 100px;
    margin-left: 30px;
}

.discount>p {
    color: #5A5A5D;
    margin-left: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.span {
    color: #FF5400;
    ;
    margin-top: 20px;
}

#btn-id {
    margin-left: 30px;
    margin-top: 20px;
}

.deals-container1 {
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    background: url(../Images/Group\ 40.png), lightgray 50% / cover no-repeat;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.discount1 {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: relative;
    right: -50px;
    top: 55px;
}

.discount1>h5 {
    color: #131318;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 800;
    margin-top: 100px;
    margin-left: 30px;
}

.discount1>p {
    color: #5A5A5D;
    margin-left: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.bangladesh {
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
    gap: 20px;
    padding: 20px;
}

.bangladesh-text>h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: cursive;
    text-align: center;
}

.bangladesh-text>p {
    color: #5A5A5D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.bangladesh-text>button {
    margin-top: 10px;
}

.saveup {
    position: relative;
    right: 350px;
    object-fit: cover;
}

.signup {
    display: block;
    border: 2px solid #FF5400;
    border-radius: 8px;
    width: 50%;
    padding:30px;
}
.signup> input{
    width: 250px;
    height: 52px;
    margin-top: 20px;
}
.signup h4{
    color:#FF5400 ;
    margin-bottom: 15px;

}
.signup >p{
    font-size: 16px;
    color: #5A5A5D;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login {
    display: flex;
    margin-left: 120px;
    gap: 80px;
    margin-top: 60px;
}

.sub-btn {
    width: 250px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #fff;
}
/* footer section style */
.footer{
    max-width: 1200px;
    text-align: center;
    margin-top: 60px;
    border:2px solid #FF5400;
    height: 500px;
    background: rgba(19, 19, 24, 0.05);
    margin-left: 50px;
}
.footer-head{
    display: flex;
    gap: 15px;
    min-width: 50%;
    color: #131318;
    font-weight: 700;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.footer-img{
    margin-bottom: 30px;
    margin-top: 20px;
}
.footer> hr{
    margin-top: 30px;
    margin-bottom: 30px;
}